.list-investiments{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 800px;
    max-width: 800px;
    align-items: center;
    text-align: center;
    gap:15px;
    margin: 20px;
    flex-wrap: wrap;
}

.list-investiments>h1{
    font-size: 30px;
    font-family: 'Cotton','Times New Roman', Times, serif;
}

@media (max-width:770px){
    .main{
        max-width: 770px;
    }
    .list-investiments{
        max-width:670px ;
    }
    .list-investiments>h1{
        font-size: 24px;
    }
}

@media (max-width:480px){
    .main{
        max-width: 480px;
    }
    .list-investiments{
        max-width:450px ;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .list-investiments>h1{
        font-size: 22px;
    }
}