.application-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow:  rgba(9, 89, 126, 0.1) 0px 4px 12px;
    border: 1px solid rgba(9, 75, 69, 0.575);
    margin: 0 auto;
    padding: 5px;
}

#name{
    display: flex;
    align-items: center;
    height: 90px;
    flex-direction:row;
    max-width: 340px;
    text-align: center;
}

#img-money{
    display: flex;
    align-items: center;
    max-width: 330px;
    height: 200px;
    justify-content: space-evenly;
}
#img-money> img{
    width: 150px;
    height: 150px;
    border-radius: 7px;
}


#details-investiment{
    display: flex;
    flex-shrink: 2;
    justify-content: space-evenly;
    max-width: 340px;
    height: 100px;
    align-items: center;
    flex-direction:row;
    text-align: center;
}

#details-investiment>h2, #name> h1{
    font-family: 'Cotton','Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(6, 45, 77);
    text-align: center;
}


#details-investiment>p{
    font-family: 'Champagne','Times New Roman', Times, serif;
    color: rgb(13, 40, 80);
    font-size: 13px;
    text-align: start;
}


@media (max-width:650px){
    .application-container{
        display: block;
        width:180px;
        height: 235px;
    }
    #details-investiment>h2{
        font-size: 13px;
    }
    #details-investiment>p{
        font-size: 10px;
    }
}